
main{
    align-items: center;
    text-align: left;
    justify-content: center;
    background-color: #f5f5f5;
    box-sizing: border-box;
    h4{
        font-size: 25px;
    }
}

.register-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    box-sizing: border-box;
    padding-bottom: 50px;
    text-align: center;
    .perfil-de-usuario{
        font-size: 20px;
        h4{
            text-align: center;
        }
        .radio-point{
            font-size: 20px;
            width: 100%;
        }
    }
    .categorias-de-interes{
        text-align: left;
        .checkboxes{
            font-size: 20px;
        }
        h4{
            text-align: center;
            font-size: 5px;
        }
    }
    .foto-usuario{
        font-size: 20px;
    }
    .formulario-botones{
        padding: 10px;
        display: flex;
        justify-content: space-between;
        align-items:center;
        .botones-finales{
            padding: 10px;
            border: solid 1px;
            border-radius: 5px;
        }
    }
}

.formulario-registro{
    width: 80%;
    .input-formulario{
        background-color: white;
        border: solid;
        border-radius: 5px;
        height: 40px;
        width: 100%;
        margin:20px 0 20px 0;
    }
}
